<div class="container mt-2">
  <div class="d-flex flex-column gap-2">
    <nav class="navbar navbar-dark bg-primary justify-content-between">
    <a class="navbar-brand ms-3 cursor-pointer" role="button" routerLink="">Starting with Angular</a>
    </nav>

    <div class="d-flex flex-row gap-2">
      <div class="d-flex flex-column text-nowrap bg-light p-2">
        <span role="button" routerLink="component-input-example">Component Input</span>
        <span role="button" routerLink="for-directive-example">{{'@for'}} Directive</span>
        <span role="button" routerLink="event-bind-example">Event Bind</span>
      </div>

      <span class="flex-grow-1 p-2 text-nowrap">
        <router-outlet></router-outlet>
      </span>

    </div>

  </div>
</div>